/* Coolors Exported Palette - coolors.co/403f4c-2c2b3c-1b2432-121420-b76d68 */

$main-font: 'Roboto Mono', monospace;

$color1: rgba(250, 162, 117, 1);
$color2: rgba(255, 140, 97, 1);
$color3: rgba(206, 106, 133, 1);
$color4: rgba(152, 82, 119, 1);
$color5: rgba(92, 55, 76, 1);
